body{

background:linear-gradient(135deg,#EA4389,#ED619B,#F8BFD7);

height:100vh;

display:flex;

justify-content:center;

align-items:center;

font-family: "China cat";

margin:0;
  
font-size: 28px;
}

.contenedor{

background: #FCE8F1;

padding:50px;

border-radius:20px;

text-align:center;

box-shadow:0px 0px 20px rgba(0,0,0,.2);

font-size: 18px;
}

button{

padding:15px 30px;

margin:15px;

font-size:20px;

border:none;

border-radius:50px;

background:#F23A5A;

color:white;

cursor:pointer;

transition:.3s;

}

button:hover{

transform:scale(1.1);

}
